@import "../_variable";
@import "../objects/_section";
@import "../objects/_highlight";

.MeetupSection {
    @include Section;

    .Highlight {
        @include highlight($orange);
    }

    &__Header {
        @include Section__Header;
    }

    &__Title {
        @include Section__Title(180px, $orange);
    }

    &__TitleImage {
        @include Section__TitleImage;
    }

    &__SubTitle {
        @include Section__Subtitle(60px);
    }

    &__Description {
        text-align     : center;
        vertical-align : top;
        margin         : 20px auto 60px;
    }

    &__Cells {
        @include Section__Cells;
    }

    &__Cell {
        @include Section__Cell;
        @media (max-width: $width-tablet) {
            padding: 20px;
        }
    }

}
