// Colors
$white  : #FFFFFF;
$sumi   : #2D333A;
$black  : #2E2E2C;
$yellow : #FFE733;
$orange : #FFB762;
$green  : #3EF6C0;
$cyan   : #58EFF7;
$blue   : #6DCEFF;

// Elements

// Break points for media queries
$width-pc         : 1024px;
$width-tablet     : 768px;
$width-smartphone : 480px;

// Size
$h1 : 144px;
$h2 : 72px;
$h3 : 36px;
$h4 : 24px;
$h5 : 20px;
$h6 : 18px;

$header-size : 44px;

// Font
$regular : 'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif;
$bold    : 'Hiragino Kaku Gothic Std', 'Meiryo', sans-serif;
